body{
    transition: 0.5s;
}
.home-container{
    width: 100%;
    height: 100vh;
    background-image: url("../img/home_background.jpg");
    background-size: cover;
}
.box{
    position: relative;
    width: 300px;
    height: 300px;
    background-color: rgba(0,0, 0, 0.5);
border-radius: 50%;
overflow: hidden;

}
.box::before{
    content: "";
    position: absolute;
    inset: -5px 100px;
background: linear-gradient(315deg,#00ccff,#d400d4);
    transition: 0.5s;
    animation: spinner 4s linear infinite;
}
.box:hover::before{
    inset: -20px 0px;
    
}
.box::after{
    content: "";
    position: absolute;
    inset: 4px;
    border-radius: 50%;
    background-color: #162052;
    z-index: 1;
        overflow: hidden;

}
.img-content{
    position: absolute;
    inset: 20px;
    border: 1px solid black;
    z-index: 3;
    overflow: hidden;
    background-size: cover;
    background-image: url("../img/omsalunke.jpeg");
    border-radius: 50%;
}
/* .img-content .user-img{
    position: absolute;
    background-image: url("../img/omsalunke.jpeg");
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    transition: 0.5s;
} */
@keyframes spinner {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.home-body{
    display: flex;
    justify-content: space-around;
    margin-top:5vh ;
    width: 100%;
    color: black;
}

.home_page_profile_detail{
    position: relative;
    /* top: 10vh; */
    height: 80vh;
    left: 10vh;
    text-transform: capitalize;
    font-size: 2.3em;
    color: BLACK;
}
.home_about_btn{
    font-family: 'Nunito', sans-serif;
    width: 26vh;
    margin: 3vh 1vh;
    height: 8vh;
    border-radius: 2vh;
    border: none;
    color: white;
    padding: 1vh 2vh;
    font-size: .6em;
    background-color: rgb(30, 30, 204);
}
.home_about_btn:hover{
    background-color: blue;
}
#skill_name_span{
    text-transform: uppercase;
    color: red;
}
.social_media_link{
    display: flex;
    flex-wrap: wrap;
}
.fa-brands{
    color: white;
}
.social_media_btn{
    width: 10vh;
    display: grid;
    place-items: center;
    height: 10vh;
    border: 2px solid black;
    margin: 2vh 4vh;
    border-radius: 50%;
    background-color: black;
}
.social_media_btn:nth-child(1){
    background-color: rgb(245, 240, 240);
}
@media screen and (max-width: 800px) {
    .box{
        width: 200px;
        height: 200px;
        left: 50%;
        margin-bottom: 5vh;
        transform: translateX(-50%);
        position: relative;
    }
    .box::before{
        inset:-3px 77px;
    }
    button{
        width: 100px;
        font-size: 10px;
        height: 40px;
    }
    .img-content{
        inset: 10px;
    }
    .profile_detail{
        width: 40vh;
        height: 40vh;
    }
    .profile_detail h2{
        font-size: 20px;
    }
    .profile_detail p{
        font-size: 20px;
    }


}
@media only screen and (max-width: 768px) {
    .home-body{
        display: block;
        overflow: hidden;
    }
    .home_page_profile_detail{
        left: 5vh;
        height: auto;
top: 0vh;
    }
    .profile_detail {
        width: 40vh;
        height: auto;
    }
    button {
        height: auto;
        width: auto;
    }
    .profile_detail h2,p{
        font-size: 35px;
    }
    .social_media_btn {
        width: 7vh;
        height: 7vh;
        border: 2px solid black;
      
    }
    .social_media_btn:nth-child(1){
        background-color: rgb(245, 240, 240);
    }
    .social_media_link{
        margin-left:-3vh;
    }
}