
#projects{
    background-color: black;
}
.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    padding:0 2vh;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ef5327);
    border-radius: absolute;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #ef5327;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img {
    transform: scale(1.1);
}

.work:hover .layer {
    height: 100%;
}

.btn { 
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ef5327;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition:  0.5s;
}

.btn:hover {
    background: #ef5327;
}
@media only screen and (max-width: 768px) {
.layer h3{
    font-size: 30px;
}
.layer p{
    font-size: 20px;
}
.work {
    border-radius: 10px;
    position: relative;
    width: 90%;
    overflow: hidden;
    height: auto;
    margin: auto;
}
}